.Play-list{
    position: fixed;
    width: 300px;
    height: 185px;
    background-color: rgba(0, 0, 0, 0.1);
    top:50%;
    left:50%;
    transform: translate(-50%, -60%);
}

.Play-list ul{
    list-style: none;
}

.Play-list li{
    display: block;
    width: 100%;
    line-height: 30px;
    color: #460737;
    padding-left: 20px;
    cursor: pointer;
}

.Play-list li.active{
    background-color: rgba(0,0,0,0.1)
}